body {
    background-color: lightskyblue;
}

hr {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

#photo {
    width:425px; 
    height:175px;
}

#foodMenu {
    border-spacing: 15px;
}


#beverageMenu {
    border-spacing: 15px;
    background-color: red;
}

input, label {
	font-size: 18px;
	font-family: Arial, Helvetica, serif;
	font-weight: bold;
}

input[type=text] {
	background-color: 		#d5d2cb;
    border:		2px	solid darkblue;
	width:		75%;
	padding:	12px	20px;
	margin:		8px 0;
	box-sizing:	border-box;
}

#requiredField {
    color: red
}

#contactForm {
    font-style: bold;    
}


/*unvisted link */
a:link {
    color: Green;
}

/*visted link*/ 
a:visited {
    color: yellow
}
 
/* mouse over link */  
  a:hover {
	color: black;
    font-weight: bold;
    font-size: 20px
  }

  /*selected link*/
  a:active {
      text-decoration: none;
      color: orange;
  }